/* src/components/Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem 2rem;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    margin-right: 1rem;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .navbar a:hover {
    color: #ff9800;
  }
  
  .navbar a:last-child {
    margin-right: 0; 
  }
  


  .name{
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    text-align: left;
}
.name-highlight {
  color: #4817cf;
}